[submodule "plugins"]
	path = plugins
	url = https://github.com/DIGI-UW/openelisglobal-plugins.git
[submodule "tools/Liquibase-Outdated"]
	path = tools/Liquibase-Outdated
	url = https://github.com/DIGI-UW/Liquibase-Outdated.git
[submodule "tools/Password-Migrator"]
	path = tools/Password-Migrator
	url = https://github.com/DIGI-UW/Password-Migrator.git
[submodule "Consolidated-Server"]
	path = Consolidated-Server
	url = git@github.com:DIGI-UW/Consolidated-Server.git
[submodule "hapi-fhir-jpaserver-starter"]
	path = hapi-fhir-jpaserver-starter
	url = https://github.com/DIGI-UW/hapi-fhir-jpaserver-starter.git
[submodule "dataexport"]
	path = dataexport
	url = https://github.com/DIGI-UW/dataexport.git
[submodule "tools/openelis-analyzer-bridge"]
	path = tools/openelis-analyzer-bridge
	url = https://github.com/DIGI-UW/openelis-analyzer-bridge.git
	branch = develop
[submodule "tools/analyzer-mock-server"]
	path = tools/analyzer-mock-server
	url = https://github.com/DIGI-UW/analyzer-mock-server.git
[submodule "projects/catalyst"]
	path = projects/catalyst
	url = https://github.com/DIGI-UW/openelis-catalyst.git
	branch = main
[submodule "tools/code-qa"]
	path = tools/code-qa
	url = https://github.com/DIGI-UW/code-qa
