# compiled code #
*.class

# Package Files #
*.war
*.ear

#local use files
liqubase.properties

# IDE files #
.classpath
.settings/
.project
.factorypath

# Maven Files #
*target/

#Developer specific docker-compose
/docker-compose.yml
dev/
# Additional build files
src/main/resources/adminPassword.txt
/OEInstaller/
/docs_back
/bin/
