# compiled code #
*.class

# Package Files #
*.war
*.ear

#local use files
liqubase.properties

# IDE files #
.classpath
.settings/
.project

# Maven Files #
*target/

# Additional build files
OEInstaller/*
/docs_back
