.logo {
  height: 40px;
  width: auto;
}

.headerPanel {
  height: max-content;
}

div {
  display: block;
}

.userDetails{
  padding: 1%;
  margin: 4%;
}

.adminPageContent {
  margin-left: 20%;
  margin-right: 5%;
}

/* Reflext tests */
.inputText {
  --cds-text-primary:  black; 
  width: 100%;
  --cds-text-secondary : red ;
  margin-top: 0.1%;
}

.inputSelect {
  --cds-text-primary:  black; 
  width: 100%;
  --cds-text-secondary : red ;
  margin-top: -15%;
}
.inputSearch {
  --cds-text-primary:  black; 
  width: 100%;
  --cds-text-secondary : red ;
  --cds-icon-primary :black;
}

.rules {
  display: flex;
  justify-content: space-between;
}
.first-division {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0.5rem 0;
  width: 100%;
}

.second-division{
  padding-top: 5%;
}
button {
  background: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px 10px;
}
.add_button {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  color: rgb(0, 208, 255);
  border: 1px solid rgb(0, 208, 255);
}

.remove-btn {
  color: red;
  border: 1px solid red;
}

.services {
  display: flex;
  justify-content: space-between;
}

.ruleBody {
  border: 0.5px solid #295785 ;
  border-radius : 5px;
  margin: 2%;
  padding: 0.5%;
}

.inlineDiv {
  display: flex;
  margin-bottom: 3%;
  margin-left: 1%;
}

.section {
  border: 0.5px solid green ;
  border-radius : 3px;
  margin: 0.5%;
  padding: 1%;
}

.conditionsAddDiv {
  float:right;
}


