.logo {
  height: 40px;
  width: auto;
}

.headerPanel {
  height: max-content;
}

div {
  display: block;
}

.userDetails{
  padding: 1%;
  margin: 4%;
}

.adminPageContent {
  margin-left: 20%;
  margin-right: 5%;
}

.inputText {
  --cds-text-primary:  black; 
  width: 40%;
}

