<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.2"
     xmlns="http://xmlns.jcp.org/xml/ns/persistence"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence
     http://xmlns.jcp.org/xml/ns/persistence/persistence_2_2.xsd">

    <persistence-unit
        name="OpenELIS-Global-persistence-unit">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>

        <!-- converters -->
        <class>org.itech.fhir.dataexport.core.model.converter.DataExportStatusConverter</class>
        <class>org.itech.fhir.dataexport.core.model.converter.FhirResourceTypeConverter</class>
        <class>org.openelisglobal.hibernate.converter.URIConverter</class>
        <class>org.openelisglobal.security.converter.EncryptionConverter</class>

        <!-- entities -->
        <class>org.openelisglobal.localization.valueholder.Localization</class>
        <class>org.openelisglobal.localization.valueholder.LocalizationValue</class>
        <class>org.openelisglobal.localization.valueholder.SupportedLocale</class>
        <class>org.openelisglobal.login.valueholder.LoginUser</class>
        <class>org.openelisglobal.gender.valueholder.Gender</class>
        <class>org.openelisglobal.externalconnections.valueholder.ExternalConnection</class>
        <class>org.openelisglobal.externalconnections.valueholder.ExternalConnectionContact</class>
        <class>org.openelisglobal.externalconnections.valueholder.CertificateAuthenticationData</class>
        <class>org.openelisglobal.externalconnections.valueholder.BasicAuthenticationData</class>

        <class>org.itech.fhir.dataexport.core.model.DataExportAttempt</class>
        <class>org.itech.fhir.dataexport.core.model.DataExportTask</class>

        <class>org.ozeki.sms.valueholder.OzekiMessageOut</class>

        <!-- Sample Storage Management entities (001-sample-storage) -->
        <class>org.openelisglobal.storage.valueholder.StorageRoom</class>
        <class>org.openelisglobal.storage.valueholder.StorageDevice</class>
        <class>org.openelisglobal.storage.valueholder.StorageShelf</class>
        <class>org.openelisglobal.storage.valueholder.StorageRack</class>
        <class>org.openelisglobal.storage.valueholder.StorageBox</class>
        <class>org.openelisglobal.storage.valueholder.SampleStorageAssignment</class>
        <class>org.openelisglobal.storage.valueholder.SampleStorageMovement</class>

        <!-- Alert System entities (003-freezer-monitoring) -->
        <class>org.openelisglobal.alert.valueholder.Alert</class>
        <class>org.openelisglobal.coldstorage.valueholder.CorrectiveAction</class>

        <!-- Cold Storage Management entities (003-freezer-monitoring) -->
        <class>org.openelisglobal.coldstorage.valueholder.Freezer</class>
        <class>org.openelisglobal.coldstorage.valueholder.FreezerReading</class>
        <class>org.openelisglobal.coldstorage.valueholder.ThresholdProfile</class>
        <class>org.openelisglobal.coldstorage.valueholder.FreezerThresholdProfile</class>

        <!-- Notebook Management entities -->
        <class>org.openelisglobal.notebook.valueholder.NoteBook</class>
        <class>org.openelisglobal.notebook.valueholder.NoteBookPage</class>
        <class>org.openelisglobal.notebook.valueholder.NoteBookFile</class>
        <class>org.openelisglobal.notebook.valueholder.NoteBookComment</class>
        <class>org.openelisglobal.notebook.valueholder.NoteBookSample</class>

        <!-- Inventory Management entities -->
        <class>org.openelisglobal.inventory.valueholder.InventoryItem</class>
        <class>org.openelisglobal.inventory.valueholder.InventoryStorageLocation</class>
        <class>org.openelisglobal.inventory.valueholder.InventoryLot</class>
        <class>org.openelisglobal.inventory.valueholder.InventoryTransaction</class>
        <class>org.openelisglobal.inventory.valueholder.InventoryUsage</class>

        <!-- Patient Merge Backend entities (008-patient-merge-backend) -->
        <class>org.openelisglobal.patient.merge.valueholder.PatientMergeAudit</class>

        <!-- Site Branding entity (001-site-branding) -->
        <class>org.openelisglobal.sitebranding.valueholder.SiteBranding</class>
        <!-- Generic Reporting Framework entities (reporting-framework) -->
        <class>org.openelisglobal.reportdefinition.valueholder.ReportDefinition</class>

        <!-- Microbiology MVP reference/config entities (OGC-782 M1) -->
        <class>org.openelisglobal.microbiology.valueholder.MicroOrganism</class>
        <class>org.openelisglobal.microbiology.valueholder.MicroAntibiotic</class>
        <class>org.openelisglobal.microbiology.valueholder.MicroAstPanel</class>
        <class>org.openelisglobal.microbiology.valueholder.MicroAstPanelAntibiotic</class>
        <class>org.openelisglobal.microbiology.valueholder.MicroBreakpointStandard</class>
        <class>org.openelisglobal.microbiology.valueholder.MicroBreakpointRule</class>
        <class>org.openelisglobal.microbiology.valueholder.MicroCultureSetup</class>
        <class>org.openelisglobal.microbiology.valueholder.MicroCase</class>
        <class>org.openelisglobal.microbiology.valueholder.MicroCaseActivity</class>
        <class>org.openelisglobal.microbiology.valueholder.MicroIsolate</class>
        <class>org.openelisglobal.microbiology.valueholder.MicroCaseOrderDetail</class>
        <class>org.openelisglobal.microbiology.valueholder.MicroAstRun</class>
        <class>org.openelisglobal.microbiology.valueholder.MicroAstReading</class>
        <class>org.openelisglobal.microbiology.valueholder.MicroCriticalCommunication</class>

        <!-- External Quality Assurance entities (005-eqa-module) -->
        <class>org.openelisglobal.eqa.valueholder.EQAProgram</class>
        <class>org.openelisglobal.eqa.valueholder.EQAProgramTest</class>
        <class>org.openelisglobal.eqa.valueholder.EQADistribution</class>
        <class>org.openelisglobal.eqa.valueholder.EQAResult</class>
        <class>org.openelisglobal.eqa.valueholder.SampleEQA</class>

        <!-- Quality Control / Internal Control entities (005-eqa-module QC/IC) -->
        <class>org.openelisglobal.qc.valueholder.QCRuleConfig</class>
        <class>org.openelisglobal.qc.valueholder.QCFrequencyConfig</class>
        <class>org.openelisglobal.qc.valueholder.QCSignature</class>
        <!-- Calendar Management entities (OGC-310 TAT) -->
        <class>org.openelisglobal.calendar.valueholder.PublicHoliday</class>
        <class>org.openelisglobal.calendar.valueholder.WeekendConfig</class>

        <!-- Shipment Management entities (OGC-62) -->
        <class>org.openelisglobal.shipment.valueholder.ShippingBox</class>
        <class>org.openelisglobal.shipment.valueholder.Shipment</class>
        <class>org.openelisglobal.shipment.valueholder.BoxSampleItem</class>

        <!-- ASTM Analyzer Field Mapping entities (004-astm-analyzer-mapping) -->
        <!-- Migrated to JPA annotations (chore/011-analyzer-xml-to-annotations) -->
        <class>org.openelisglobal.analyzer.valueholder.Analyzer</class>
        <class>org.openelisglobal.analyzer.valueholder.AnalyzerField</class>
        <!-- AnalyzerConfiguration removed: merged into Analyzer entity -->
        <class>org.openelisglobal.analyzer.valueholder.AnalyzerError</class>
        <class>org.openelisglobal.analyzer.valueholder.CustomFieldType</class>
        <class>org.openelisglobal.analyzer.valueholder.AnalyzerFieldMapping</class>
        <class>org.openelisglobal.analyzer.valueholder.AnalyzerPluginConfig</class>
        <class>org.openelisglobal.analyzer.valueholder.AnalyzerQcRule</class>
        <class>org.openelisglobal.analyzer.valueholder.AnalyzerPendingCode</class>
        <class>org.openelisglobal.analyzerresults.valueholder.AnalyzerResults</class>
        <class>org.openelisglobal.analyzerimport.valueholder.AnalyzerTestMapping</class>
        <class>org.openelisglobal.analyzer.valueholder.AnalyzerType</class>

        <!-- RS232 Serial Port Configuration entity (011-madagascar-analyzer-integration M2) -->
        <class>org.openelisglobal.analyzer.valueholder.SerialPortConfiguration</class>
        <!-- Migrated from HBM to JPA annotations (004-astm-analyzer-mapping) -->
        <class>org.openelisglobal.analyzer.valueholder.UnitMapping</class>
        <class>org.openelisglobal.analyzer.valueholder.QualitativeResultMapping</class>

        <!-- Dictionary entities (migrated from HBM to JPA annotations) -->
        <class>org.openelisglobal.dictionary.valueholder.Dictionary</class>
        <class>org.openelisglobal.dictionarycategory.valueholder.DictionaryCategory</class>

        <!-- UOM type mapping (OGC-356 environmental workflow) -->
        <class>org.openelisglobal.unitofmeasure.valueholder.UomTypeMap</class>

        <!-- Vector Surveillance entities -->
        <class>org.openelisglobal.vector.valueholder.VectorOrganismGroup</class>
        <class>org.openelisglobal.vector.valueholder.VectorTrapType</class>
        <class>org.openelisglobal.vector.valueholder.VectorSpecies</class>
        <class>org.openelisglobal.vector.valueholder.VectorPool</class>
        <class>org.openelisglobal.vector.valueholder.VectorPoolMember</class>

        <!-- V-03 Vector Testing & Identification entities -->
        <class>org.openelisglobal.vector.identification.valueholder.VectorSpecimenIdentification</class>
        <class>org.openelisglobal.vector.identification.valueholder.VectorMolecularRecord</class>

        <!-- V-04 M3: Vector Surveillance Manual Entry Helper entities -->
        <class>org.openelisglobal.reports.vectorsurveillance.manualentry.valueholder.ManualEntryFieldMap</class>
        <class>org.openelisglobal.reports.vectorsurveillance.manualentry.valueholder.ManualEntrySubmissionAudit</class>

        <!-- QA Checklist domain (OGC-356 step 4) -->
        <class>org.openelisglobal.qachecklist.valueholder.SampleQaChecklist</class>

        <!-- Sample Acceptance Record (S-09 / OGC-580) -->
        <class>org.openelisglobal.sampleacceptance.valueholder.SampleAcceptanceRecord</class>

        <!-- Sample Type Request (OGC-356) -->
        <class>org.openelisglobal.sampletyperequest.valueholder.SampleTypeRequest</class>
        <!-- Electronic Signature entities (21 CFR Part 11 Compliance) -->
        <class>org.openelisglobal.esig.valueholder.ElectronicSignature</class>
        <class>org.openelisglobal.esig.valueholder.EsigFirstUseCertification</class>

        <!-- QC Westgard Rules entities (003-westgard-qc) -->
        <class>org.openelisglobal.qc.valueholder.QCControlLot</class>
        <class>org.openelisglobal.qc.valueholder.QCResult</class>
        <class>org.openelisglobal.qc.valueholder.QCStatistics</class>
        <class>org.openelisglobal.qc.valueholder.WestgardRuleConfig</class>
        <class>org.openelisglobal.qc.valueholder.QCRuleViolation</class>
        <class>org.openelisglobal.qc.valueholder.QCAlert</class>

        <class>org.openelisglobal.compliance.valueholder.ComplianceStandard</class>
        <class>org.openelisglobal.compliance.valueholder.ParameterGroup</class>
        <class>org.openelisglobal.compliance.valueholder.ComplianceThreshold</class>
        <class>org.openelisglobal.compliance.valueholder.ComplianceThresholdValueMap</class>
        <class>org.openelisglobal.compliance.valueholder.ComplianceReportArchive</class>

        <!-- QC Result Evaluation entities (OGC-554 S-08) -->
        <class>org.openelisglobal.qc.valueholder.SampleItemQcProfile</class>
        <class>org.openelisglobal.qc.valueholder.TestQcThreshold</class>
        <class>org.openelisglobal.resultvalidation.valueholder.ValidationQcAcknowledgment</class>

        <!-- Barcode Label Presets (OGC-285 M2) -->
        <class>org.openelisglobal.labelpreset.valueholder.LabelPreset</class>
        <class>org.openelisglobal.labelpreset.valueholder.LabelPresetField</class>
        <class>org.openelisglobal.labelpreset.valueholder.TestLabelConfig</class>
        <class>org.openelisglobal.labelpreset.valueholder.TestLabelPresetLink</class>
        <class>org.openelisglobal.labelpreset.valueholder.OrderLabelRequest</class>

        <properties>
            <property name="hibernate.cfg_xml_file"
                value="classpath:hibernate/hibernate.cfg.xml" />
            <property name="hibernate.search.backend.directory.type" value="local-filesystem" />
            <property name="hibernate.search.backend.directory.root" value="/var/lib/lucene_index" />
            <property name="hibernate.search.backend.analysis.configurer" value="class:org.openelisglobal.hibernate.search.analysis.CustomLuceneAnalysisConfigurer"/>
        </properties>

    </persistence-unit>
</persistence>
