[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[ req_distinguished_name ]
countryName                     = Country Name (2 letter code)
stateOrProvinceName             = State or Province Name
localityName                    = Locality Name
0.organizationName              = Organization Name
organizationalUnitName          = Organizational Unit Name
commonName                      = Common Name

# Optionally, specify some defaults.
countryName_default             = [2 letter country code]
stateOrProvinceName_default     = [State or Province]
localityName_default            = [City or Town]
0.organizationName_default      = [Organization]
organizationalUnitName_default  = [Organization Unit]
commonName_default              = FQDN_VAR
emailAddress_default            = [your email address]

[ req_ext ]
subjectAltName = @alt_names

[alt_names]
