.logo {
  height: 71px;
  width: auto;
}

element.style {
  display: block;
}
#oe-version {
  line-height: 18px;
  margin-top: 4px;
  font-weight: bold;
  color: #ddd;
  overflow: auto;
  display: inline-block /* Fixes child float problem in IE quirks mode */;
}

div {
  display: block;
}
#header {
  font-size: 13px;
  line-height: 1em;
  min-width: 970px;
  margin: 0 -8px;
  padding: 10px 0 0 5px;
  height: 86px;
  overflow: visible;
  background: #486086;
  background: -webkit-linear-gradient(top, #486086 0%, #557aaf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#486086', endColorstr='#557aaf', GradientType=0);
 
}

#oe-title {
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}

#title {
  margin-left: 94px;
}

#titleblock {
 display: block;
}

#oe-logo {
  float: left;
  margin-left: 15px;
}
.lang {
  text-align: center;
}

.lang-buttonx {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.lang-button {
  border-radius: 0 !important;
  background-color: #465159;
  color: white;
  margin: 0;
  outline: none !important;
  box-shadow: none !important;
}


.logoutDiv{
  /* float: right ; */
  text-align: right
}

.logout-button{
  margin-right: 15px;
  float: right;
  height: 30px;
  width:  30px;
}