.ui-autocomplete {
	max-height: 200px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
	/* add padding to account for vertical scrollbar */
	padding-right: 20px;
}
/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
* html .ui-autocomplete {
	height: expression(this.scrollHeight > 200 ? "200px" : "auto");
	/* sets max-height for IE */
}

.ui-autocomplete-custom {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

.ui-menu-item {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.active-ui-menu-item {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.ui-autocomplete-input {
	display: block
}