@use '@carbon/styles/scss/type';
.singleTest {
  padding: 1rem 0.75rem;
}

.searchTestsList {
  margin-top: 0.25rem;
  background-color: #fff;
  max-height: 14rem;
  overflow-y: auto;
  border: 1px solid #e0e0e0;
  z-index: 2;
  cursor: pointer;
  height: 100%;
}

.searchTestsList li:hover {
  background-color: #525252;
}

.searchTestText {
  @include type.type-style("body-compact-01");
  color: #525252;
}

.emptyFilterTests {
  @include type.type-style("body-compact-01");
  color: #525252;
  min-height: 1rem;
}

.emptyFilterTests span{
  color: #d4373a;
}
