<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app version="3.1"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    metadata-complete="true">

    <display-name>LIMS Application</display-name>

    <!-- The Usual Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>500</error-code>
        <location>/pages/common/error/defaultErrorPage.jsp</location>
    </error-page>

    <error-page>
        <error-code>404</error-code>
        <location>/pages/common/error/defaultNotFoundPage.jsp</location>
    </error-page>

    <jsp-config>
        <!-- <taglib> -->
        <!-- <taglib-uri>/tags/labdev-view</taglib-uri> -->
        <!-- <taglib-location>/WEB-INF/taglib/labdev-view.tld</taglib-location> -->
        <!-- </taglib> -->

        <taglib>
            <taglib-uri>/tags/ajaxtags</taglib-uri>
            <taglib-location>/WEB-INF/taglib/ajaxtags.tld</taglib-location>
        </taglib>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <!--bugzilla 1908 added resource-ref for Vietnam tomcat/linux -->
    <resource-ref>
        <description>Database connection</description>
        <res-ref-name>jdbc/LimsDS</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <!--tomcat disallowed Http method configuration -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Allowed methods</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method-omission>GET</http-method-omission>
            <http-method-omission>POST</http-method-omission>
            <http-method-omission>PUT</http-method-omission>
        </web-resource-collection>
        <auth-constraint />
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>HTTPSOnly</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>HTTPSOrHTTP</web-resource-name>
            <url-pattern>*.ico</url-pattern>
            <url-pattern>/img/*</url-pattern>
            <url-pattern>/css/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>

    <context-param>
        <param-name>defaultHtmlEscape</param-name>
        <param-value>true</param-value>
    </context-param>

    <session-config>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
    </session-config>

</web-app>
