@use '@carbon/styles/scss/grid/_flexbox';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
//@import '~@openmrs/esm-styleguide/src/vars';
@import "../commons/scss/vars.scss";
@import '../results-viewer.styles.scss';

.panelViewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 6rem;
  background-color: $ui-01;
  z-index: 99;
  padding: spacing.$spacing-03 0;
}

.flex {
  display: flex;
  flex: 1;
  align-items: center
}

.productiveHeading02 {
  @include type.type-style('heading-compact-02');
}

.stickySection {
  top: 9rem;
  position: sticky;
}

.headerMargin {
  margin-top: spacing.$spacing-09;
}

.headerMarginTablet {
  margin-top: 4rem;
}

.tabletSearch {
  margin: - spacing.$spacing-05
}