<?xml version="1.0" encoding="utf-8"?>
<databaseChangeLog xmlns="http://www.liquibase.org/xml/ns/dbchangelog/1.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog/1.9 http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-1.9.xsd">

    <changeSet author="john" id="1">
        <preConditions onFail="MARK_RAN">
            <sqlCheck expectedResult="1">SELECT COUNT(*) FROM clinlims.menu WHERE element_id = 'menu_nonconformity'</sqlCheck>
        </preConditions>
        <comment>Disable top level menu for Non conformity </comment>
        <sql>
            UPDATE clinlims.menu SET click_action = NULL WHERE element_id = 'menu_nonconformity'
        </sql>
    </changeSet>
</databaseChangeLog>