<?xml version="1.0" encoding="utf-8"?>
<databaseChangeLog xmlns="http://www.liquibase.org/xml/ns/dbchangelog/1.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog/1.9 http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-1.9.xsd">

    <changeSet author="john" id="1">
        <preConditions onFail="MARK_RAN" >
            <sqlCheck expectedResult="1">SELECT COUNT(*) FROM clinlims.menu WHERE element_id = 'menu_nonconformity'</sqlCheck>
            <sqlCheck expectedResult="0">SELECT COUNT(*) FROM clinlims.menu WHERE element_id = 'menu_nonconformity' AND action_url = NULL</sqlCheck>
        </preConditions>
        <comment>Disable top level menu for Non conformity </comment>
        <sql>
            UPDATE clinlims.menu SET action_url = NULL WHERE element_id = 'menu_nonconformity';
        </sql>
    </changeSet>
    
    <changeSet author="john" id="2">
        <preConditions >
            <sqlCheck expectedResult="0">SELECT COUNT(*) FROM clinlims.menu WHERE element_id = 'menu_non_conforming_report'</sqlCheck>
        </preConditions>
        <comment>insert new options into Non Conformity tab </comment>
        <sql>
            INSERT INTO clinlims.menu(id, parent_id, presentation_order, element_id, action_url, click_action,
            display_key, tool_tip_key, new_window, is_active)
            VALUES (nextval('clinlims.menu_seq'),(select id from clinlims.menu where element_id='menu_nonconformity'),1,'menu_non_conforming_report','/ReportNonConformingEvent.do',default,'banner.menu.nonconformity.report','tooltip.banner.menu.nonconformity.report',default,default);

            INSERT INTO clinlims.menu(id, parent_id, presentation_order, element_id, action_url, click_action,
            display_key, tool_tip_key, new_window, is_active)
            VALUES (nextval('clinlims.menu_seq'),(select id from clinlims.menu where element_id='menu_nonconformity'),2,'menu_non_conforming_view','/ViewNonConformingEvent.do',default,'banner.menu.nonconformity.view','tooltip.banner.menu.nonconformity.view',default,default);

            INSERT INTO clinlims.menu(id, parent_id, presentation_order, element_id, action_url, click_action,
            display_key, tool_tip_key, new_window, is_active)
            VALUES (nextval('clinlims.menu_seq'),(select id from clinlims.menu where element_id='menu_nonconformity'),3,'menu_non_conforming_corrective_actions','/NCECorrectiveAction.do',default,'banner.menu.nonconformity.correctiveActions','tooltip.banner.menu.nonconformity.correctiveActions',default,default);

            INSERT INTO clinlims.menu(id, parent_id, presentation_order, element_id, action_url, click_action,
            display_key, tool_tip_key, new_window, is_active)
            VALUES (nextval('clinlims.menu_seq'),(select id from clinlims.menu where element_id='menu_administration'),2,'menu_administration_report_management','/ReportConfiguration.do',default,'banner.menu.reportManagement','tooltip.banner.reportManagement',default,default);
        </sql>
    </changeSet>
</databaseChangeLog>